<!DOCTYPE html>
<html>
  <head>
    <title>ed-typing</title>
    <%= stylesheet_link_tag    "public/main", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <div id="header">
      <table width="100%">
        <tr>
          <td id="logo">
            <%= link_to 'ed-typing', root_url %>
          </td>
          <td id="account">
            <%= render '/public/form/account' %>
          </td>
        </tr>
        <tr>
          <td colspan="2" id="menus">
            <%= render '/public/form/menu' %>
          </td>
        </tr>
      </table>
    </div>

    <div id="contents">
      <%= yield %>
    </div>

  </body>
</html>
