<!DOCTYPE html>
<html>
  <head>
    <title>ed-typing</title>
    <%= stylesheet_link_tag    "public/main", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="header">
      <table width="100%">
        <tr>
          <td id="logo">
            ed-typing
          </td>
          <td id="menus">
            <% if @current_user %>
              <span style="color: white;">
                <%= image_tag @current_user.person.profile["info"]["image"], :width => "20px" %>
                <%= link_to @current_user.person.profile["info"]["urls"]["Facebook"] do %><%= @current_user.person.profile["info"]["name"] %><% end %>
              </span> |
            <% end %>

            <%= link_to "ホーム", root_url %> | 
            <%= link_to "ログアウト", logout_url %>
          </td>
        </tr>
      </table>
    </div>

    <div id="contents">
      <%= yield %>
    </div>

  </body>
</html>
